@page
@model PRN221_GroupProjectBookParty.Pages.BookingConfirmationModel
@{
    Layout = "/Pages/Layout/_LayoutUser.cshtml";
}
<div class="container" style="margin-top: 100px">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Booking Party Placed Successfully!</h1>
        Your Booking Party Number is : @Model.BookingId <br /><br />
        <img src="~/img/lawn_leaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your Booking has been placed successfully! <br />
        Please make sure to arrive on time for the party!
    </div>
</div>


