@page
@model PRN221_GroupProjectBookParty.Pages.Guest.SendFeedBackModel


@{
	ViewData["Title"] = "Gửi đánh giá";
	Layout = "/Pages/Layout/_LayoutHost.cshtml";
}


<head>
	<meta charset="utf-8" />
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

	<meta name="description" content="" />

	<!-- Favicon -->
	<link rel="icon"
		  type="image/x-icon"
		  href="https://cdn-icons-png.flaticon.com/512/6556/6556219.png" />

	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
		  rel="stylesheet" />

	<link rel="stylesheet" href="~/js/vendor/fonts/boxicons.css" />

	<!-- Core CSS -->
	<link rel="stylesheet"
		  href="~/js/vendor/css/core.css"
		  class="template-customizer-core-css" />
	<link rel="stylesheet"
		  href="~/js/vendor/css/theme-default.css"
		  class="template-customizer-theme-css" />
	<link rel="stylesheet" href="~/css/demo.css" />

	<!-- Vendors CSS -->
	<link rel="stylesheet"
		  href="~/js/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

	<!-- Page CSS -->
	<!-- Helpers -->
	<script src="~/js/vendor/js/helpers.js"></script>
	<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
	<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
	<script src="~/js/js/config.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

	<!-- Thư viện jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Thư viện Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="layout-wrapper layout-content-navbar">
		<div class="layout-container">
			<div class="layout-page">
				<div class="content-wrapper">
					<div class="container-xxl flex-grow-1 container-p-y">
						<h4 class="py-3 mb-4">
							<span class="text-muted fw-light">Forms/</span>Gửi đánh giá
						</h4>
						<div class="row">
							<div class="col-xl">
								<div class="card mb-4">
									<div class="card-header d-flex justify-content-between align-items-center">
										<h5 class="mb-0">Nhập các thông tin sau</h5>
									</div>
									<div class="card-body">
										<form method="post" enctype="multipart/form-data">
											<div asp-validation-summary="ModelOnly" class="text-danger"></div>
											<div class="mb-3">
												@* <label asp-for="FeedBack.GuestId" class="form-label">Người gửi:</label>
												<input asp-for="FeedBack.GuestId" class="form-control" asp-items="ViewBag.GuestId" /> *@
												<label asp-for="FeedBack.GuestId" class="form-label">Người gửi:</label>
												<input asp-for="FeedBack.GuestId" type="text" placeholder="" value="@ViewData["GuestId"]" readonly class="form-control" />
												<span asp-validation-for="FeedBack.GuestId" class="text-danger"></span>
											</div>
											<div class="mb-3">
												<label asp-for="FeedBack.PartyId" class="form-label">Buổi tiệc:</label>
												<input asp-for="FeedBack.PartyId" type="text" placeholder="" value="@ViewData["PartyId"]" readonly class="form-control" />
												<span asp-validation-for="FeedBack.PartyId" class="text-danger"></span>
											</div>
											<div class="mb-3">
												<label asp-for="FeedBack.Comment" class="form-label">Nội dung đánh giá:</label>
												<textarea asp-for="FeedBack.Comment" class="form-control" placeholder="Vui lòng nhập..." rows="5"></textarea>
												<span asp-validation-for="FeedBack.Comment" class="text-danger"></span>
											</div>
											<div class="mb-3">
												<label asp-for="FeedBack.ReviewDate" class="form-label">Thời gian:</label>
												<input asp-for="FeedBack.ReviewDate" class="form-control" type="" value="@DateTime.Now" />
												<span asp-validation-for="FeedBack.ReviewDate" class="text-danger"></span>
											</div>
											@* <div class="mb-3">
											<label asp-for="FeedBack.Price" class="form-label">Giá:</label>
											<input asp-for="Party.Price" class="form-control" type="text" placeholder="Giá" />
											<span asp-validation-for="Party.Price" class="text-danger"></span>
											</div> *@
											<div class="mb-3 form-check">
												<label class="form-check-label">
													@* <input class="form-check-input" asp-for="Party.Status" /> @Html.DisplayNameFor(model => model.Party.Status) *@
												</label>
											</div>
											<input type="submit" value="Send" class="btn btn-primary" />
											<a style="text-decoration: none;
                                                   color: inherit;" asp-page="PartyManagement">
												<button type="button" class="btn btn-primary">Return</button>
											</a>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="~/js/vendor/libs/jquery/jquery.js"></script>
	<script src="~/js/vendor/libs/popper/popper.js"></script>
	<script src="~/js/vendor/js/bootstrap.js"></script>
	<script src="~/js/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
	<script src="~/js/vendor/js/menu.js"></script>

	<!-- endbuild -->
	<!-- Vendors JS -->
	<!-- Main JS -->
	<script src="~/js/main.js"></script>

	<!-- Page JS -->
	<!-- Place this tag in your head or just before your close body tag. -->
	<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>