@page
@using PRN221_GroupProjectBookParty.Pages.Authentication
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model LoginModel
@{
    Layout = null;
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/Login.css" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<body>
    <div class="wrapper">
        <form method="post" asp-page="./Login">
            <h1>Login</h1>
            <div class="input-box">
                <input asp-for="Account.Email" type="text" placeholder="Email" required />
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input asp-for="Account.Password" type="password" placeholder="Password" required />
                <i class='bx bxs-lock-alt'></i>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="register-link">
                <p>
                    Don't have an account?<a href="/authentication/register"> Register</a>
                </p>
            </div>
        </form>

    </div>
</body>


