@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using PRN221_GroupProjectBookParty.Pages.Authentication
@model RegisterModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/Login.css" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<body>
    <div class="wrapper">
        <form method="post" asp-page="./Register">
            <h1>Register</h1>

            <div class="input-box">
                <input id="emailInput" asp-for="Account.Email" type="text" placeholder="Email" required />
                <i class='bx bxs-user'></i>
                @if (TempData["EmailMessage"] != null)
                {
                    <span id="emailAlert" style=" color:red ; margin-left: 10px;" >Email existed!</span>
                }
            </div>

            <div class="input-box">
                <input asp-for="Account.Password" type="password" placeholder="Password" required />
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="input-box">
                <input id="PasswordConfirm" asp-for="ConfirmPassword" type="password" placeholder="Confirm password" required />
                <i class='bx bxs-lock-alt'></i>
                @if (TempData["PasswordMessage"] != null)
                {
                    <span id="passwordAlert" style=" color:red ; margin-left: 10px;">Password not match!</span>
                }
            </div>
            <div class="input-box">
                <input asp-for="Account.UserName" type="text" placeholder="Username" required />
                
            </div>
            <div class="input-box">
                <input asp-for="Account.Phone" type="text" placeholder="Phone" required />
                
            </div>
            <div class="input-box">
                <input asp-for="Account.Gender" type="text" placeholder="Gender" required />
                
            </div>

            <button type="submit" class="btn">Sign up</button>
            <div class="register-link">
                <p>
                    Already have an account?<a href="/Authentication/Login"> Sign Up</a>
                </p>
            </div>
            <script>
                document.getElementById('emailInput').addEventListener('input', function () {
                    var emailAlert = document.getElementById('emailAlert');
                    if (emailAlert) {
                        emailAlert.style.display = 'none';
                    }
                });
                document.getElementById('PasswordConfirm').addEventListener('input', function () {
                    var emailAlert = document.getElementById('passwordAlert');
                    if (emailAlert) {
                        emailAlert.style.display = 'none';
                    }
                });

            </script>
        </form>

    </div>

</body>
